# 项目排除路径
/springboot/target/
/vue/node_modules
/springboot/src/main/resources/application.yml
/vue/package-lock.json
/vue/.env.development
/springboot/src/main/java/com/example/controller/FileController.java
