<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RoomMapper">

    <sql id="Base_Column_List">
        id, name, status, type_id, hotel_id, deleted
    </sql>

    <select id="selectAll" resultType="com.example.entity.Room">
        select room.*, type.name as typeName, hotel.name as hotelName
        from room
        left join type on room.type_id = type.id and type.deleted = 0
        left join hotel on room.hotel_id = hotel.id and hotel.deleted = 0
        <where>
            room.deleted=0
            <if test="id != null"> and room.id = #{id}</if>
            <if test="name != null"> and room.name like concat('%', #{name}, '%')</if>
            <if test="status != null"> and room.status = #{status}</if>
            <if test="typeId != null"> and room.type_id = #{typeId}</if>
            <if test="hotelId != null"> and room.hotel_id = #{hotelId}</if>
<!--            <if test="deleted != null"> and room.deleted = #{deleted}</if>-->
        </where>
        order by room.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Room">
        select room.*, type.name as typeName, hotel.name as hotelName
        from room
                 left join type on room.type_id = type.id and type.deleted = 0
                 left join hotel on room.hotel_id = hotel.id and hotel.deleted = 0
        where room.id = #{id} and room.deleted = 0
    </select>

    <delete id="deleteById">
        update room
        set deleted = 1
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Room" useGeneratedKeys="true">
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
            <if test="typeId != null">type_id,</if>
            <if test="hotelId != null">hotel_id,</if>
            <if test="deleted != null">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="hotelId != null">#{hotelId},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="deleted == null">0,</if>  <!-- 默认值为 0 -->
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Admin">
        update room
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="hotelId != null">
                hotel_id = #{hotelId},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 统计某个酒店中某种类型的房间数量 -->
    <select id="countByTypeAndHotel" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM room
        WHERE hotel_id = #{hotelId} AND type_id = #{typeId} AND deleted = false
    </select>

</mapper>
